<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.winner.springcloud.dao.DeptInfoDao">
	
	<!-- .resultMap中的column要与查询到的字段名一致，property要与实体类的属性一致。 -->
	
	<!-- 添加一条部门信息 -->
	<insert id="addDept" parameterType="DeptInfo">
		insert into DEPT(DNAME,DB_SOURCE) values(#{dept.dname},DATABASE())
	</insert>
	
	<!-- 根据id查询一条部门信息 -->
	<select id="queryDeptById" parameterType="int" resultType="DeptInfo">
		select * from dept where deptno = #{id}
	</select>
	
	<!-- 查询全部部门信息 -->
	<select id="queryAll" resultType="DeptInfo">
		select * from DEPT
	</select>
	

</mapper>